.comment {
  background-color: white;
  padding: 10px;
  border-radius: 4px;

  margin-bottom: 2px;
  margin-left: 20px;

  color: black;
}

.comment .title {
  margin-bottom: 10px;
}

.comment .name {
  font-size: 18px;
  font-weight: bold;
}

.comment .email {
  font-size: 12px;
  margin-left: 10px;
}
